#content {
    display: flex;
    flex-direction: column; /* Change la direction pour empiler les éléments */
}
.movie__categories {
    display: flex;
    flex-direction: column; /* Change la direction pour empiler les éléments */
    margin: 20px 0;
    padding: 20px;
    max-width: 1200px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.movie__title {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
    color: black;
}

.movies {
    display: flex;
    flex-direction: row;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 10px;
    justify-items: start;
}
