<div class="movie__detail">
    <img class="movie__img" src="../server/images/{{movieImg}}" alt="affiche du film">
    <div class="movie__text">
        <h1 class="movie__title">{{movieTitle}}</h1>
        <p class="movie__synopsis">{{movieSynopsis}}</p>
        <p class="movie__realisateur">Réalisateur : {{movieDirector}}</p>
        <p class="movie__annee">Date de sortie : {{movieYear}}</p>
        <p class="movie__categorie">Catégorie : {{movieCategory}}</p>
        <p class="movie__age">Âge minimal : {{movieAge}}</p>
        <div class="movie__trailer__container">
            <h2 class="Trailer"></h2>
            <iframe class="movie__trailer" src="{{movieTrailerUrl}}" width="560" height="315" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>